Repository appwrite/console, pull requests merged in 2024-07, with the labels that each got.

#1161 feat: update manual deployment
  src/routes/console/project-[project]/functions/function-[function]/createManual.svelte
Labels: product / functions

#1170 fix: function version check
  src/lib/components/filters/content.svelte
  src/lib/components/filters/store.ts
  src/lib/helpers/types.ts
  src/routes/console/project-[project]/functions/function-[function]/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/createManual.svelte
  src/routes/console/project-[project]/functions/function-[function]/execute.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/settings/+page.svelte
Labels: product / functions

#1158 feat: delete executions
  src/lib/actions/analytics.ts
  src/routes/console/project-[project]/functions/function-[function]/executions/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/delete.svelte
Labels: product / functions

#1163 feat: function scopes
  src/lib/actions/analytics.ts
  src/routes/console/project-[project]/functions/function-[function]/settings/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/settings/updateScopes.svelte
Labels: product / functions

#1167 feat: delete and cancel deployments
  src/lib/actions/analytics.ts
  src/routes/console/project-[project]/functions/function-[function]/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/cancel.svelte
  src/routes/console/project-[project]/functions/function-[function]/deployment-[deployment]/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/deployment-[deployment]/+page.ts
Labels: product / functions

#1160 feat: execution filter
  package.json
  src/lib/components/dropList.svelte
  src/lib/components/filters/content.svelte
  src/lib/components/filters/filters.svelte
  src/lib/components/filters/index.ts
  src/lib/components/filters/store.ts
  src/lib/components/filters/tagList.svelte
  src/lib/elements/forms/inputDate.svelte
  src/lib/elements/forms/inputTime.svelte
  src/lib/layout/containerButton.svelte
  src/lib/layout/containerHeader.svelte
  src/lib/layout/logs.svelte
  src/lib/layout/wizardSecondaryHeader.svelte
  src/routes/console/project-[project]/functions/function-[function]/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/execute.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/+page.ts
  src/routes/console/project-[project]/functions/function-[function]/executions/delete.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/execute-function/+page.ts
  src/routes/console/project-[project]/functions/function-[function]/executions/table.svelte
  src/routes/console/project-[project]/functions/function-[function]/settings/executeFunction.svelte
  src/routes/console/project-[project]/functions/function-[function]/store.ts
Labels: product / functions

#1177 feat: time input custom step
  src/lib/elements/forms/inputTime.svelte
  src/routes/console/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
Labels: product / functions

#1195 fix: deplyoment activate button
  src/routes/(console)/project-[project]/functions/function-[function]/deployment-[deployment]/+page.svelte
Labels: bug, product / functions

#1226 fix: user preferences removal bug
  src/routes/console/project-[project]/auth/user-[user]/updatePrefs.svelte
Labels: bug

#1227 fix: remove seconds some time inputs
  src/lib/components/filters/content.svelte
  src/lib/elements/forms/inputDateTime.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
Labels: product / functions
