Repository appwrite/console, pull requests merged in 2024-05, with the labels that each got.

#1028 Show Hour / Days for Logs Retention on Cloud
  src/routes/console/project-[project]/functions/function-[function]/executions/+page.svelte
Labels: product / functions, product / cloud

#1057 Improve Bucket Limits Message
  src/routes/console/project-[project]/storage/bucket-[bucket]/+page.svelte
Labels: product / storage, product / cloud

#1076 Allow multiple 1 way relationships between collections
  src/routes/console/project-[project]/databases/database-[database]/collection-[collection]/attributes/relationship.svelte
Labels: product / databases

#1074 Wrap input with form list so bullet point doesn't show
  src/lib/wizards/functions/steps/createRepository.svelte
Labels: product / functions

#1104 feat(auth): add verified pill to mfa methods
  src/routes/console/account/updateMfa.svelte
Labels: product / auth
