Repository appwrite/console, pull requests merged in 2024-08, with the labels that each got.

#1196 feat: scale plan
  src/lib/components/billing/estimatedTotalBox.svelte
  src/lib/components/billing/index.ts
  src/lib/components/billing/planComparisonBox.svelte
  src/lib/components/billing/planExcess.svelte
  src/lib/components/billing/planSelection.svelte
  src/lib/stores/billing.ts
  src/lib/stores/campaigns.ts
  src/lib/stores/organization.ts
  src/routes/console/apply-credit/+page.svelte
  src/routes/console/create-organization/+page.svelte
  src/routes/console/onboarding/+page.svelte
  src/routes/console/organization-[organization]/billing/+page.svelte
  src/routes/console/organization-[organization]/billing/planSummary.svelte
  src/routes/console/organization-[organization]/change-plan/+page.svelte
  src/routes/console/organization-[organization]/change-plan/+page.ts
  src/routes/console/organization-[organization]/createMember.svelte
  src/routes/console/organization-[organization]/usage/[[invoice]]/totalMembers.svelte
Labels: product / billing

#1200 feat: available credit total
  src/lib/sdk/billing.ts
  src/routes/console/organization-[organization]/billing/availableCredit.svelte
Labels: product / billing

#1263 feat: upgrade function creation wizard
  src/lib/components/drop.svelte
  src/lib/components/dropList.svelte
  src/lib/components/floatingActionBar.svelte
  src/lib/components/support.svelte
  src/lib/constants.ts
  src/lib/layout/wizard.svelte
  src/lib/sdk/billing.ts
  src/lib/stores/campaigns.ts
  src/lib/stores/marketplace.ts
  src/lib/wizards/functions/components/appwriteVariable.svelte
  src/lib/wizards/functions/createManual.svelte
  src/lib/wizards/functions/createTemplate.svelte
  src/lib/wizards/functions/steps/manualConfiguration.svelte
  src/lib/wizards/functions/steps/manualDetails.svelte
  src/lib/wizards/functions/steps/repositoryBehaviour.svelte
  src/lib/wizards/functions/steps/templateDeployment.svelte
  src/lib/wizards/functions/steps/templatePermissions.svelte
  src/lib/wizards/functions/steps/templateVariables.svelte
  src/lib/wizards/functions/store.ts
  src/routes/(console)/(migration-wizard)/resource-form.svelte
  src/routes/(console)/(migration-wizard)/step1.svelte
  src/routes/(console)/organization-[organization]/billing/availableCredit.svelte
  src/routes/(console)/project-[project]/auth/(providers)/appleOAuth.svelte
  src/routes/(console)/project-[project]/auth/teams/team-[team]/updatePrefs.svelte
  src/routes/(console)/project-[project]/auth/user-[user]/updatePrefs.svelte
  src/routes/(console)/supportWizard.svelte
  src/routes/(console)/wizard/support/store.ts
  static/images/campaigns/AniaKubow/dark.png
  static/images/campaigns/AniaKubow/light.png
  static/images/campaigns/Fireship/dark.png
  static/images/campaigns/Fireship/light.png
  static/images/campaigns/FreeCodeCamp/dark.png
  static/images/campaigns/FreeCodeCamp/light.png
  static/images/campaigns/Hyperplexed/dark.png
  static/images/campaigns/Hyperplexed/light.png
  static/images/campaigns/TraversyMedia/dark.png
  static/images/campaigns/TraversyMedia/light.png
  static/images/campaigns/VueJS/dark.png
  static/images/campaigns/VueJS/light.png
Labels: product / functions

#1254 feat: add tar upload option to manual deployment
  src/lib/elements/forms/inputFile.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/createManual.svelte
Labels: product / functions

#1276 feat: add schedule executions tooltip info
  src/lib/layout/logs.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/table.svelte
Labels: product / functions

#1264 refactor: invoice model
  src/lib/sdk/billing.ts
  src/routes/console/organization-[organization]/usage/[[invoice]]/+page.svelte
  src/routes/console/project-[project]/settings/usage/[[invoice]]/+page.svelte
Labels: product / billing

#1270 feat: add go to quick start functions
  src/lib/stores/marketplace.ts
  src/lib/wizards/functions/cover.svelte
Labels: product / functions

#1271 feat: custom execution headers
  src/lib/elements/forms/inputSelectSearch.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
Labels: product / functions

#1231 feat: quick filters
  src/lib/components/dropList.svelte
  src/lib/components/dropListItem.svelte
  src/lib/components/filters/filters.svelte
  src/lib/components/filters/store.ts
  src/lib/components/filters/tagList.svelte
  src/lib/elements/index.ts
  src/lib/elements/pill.svelte
  src/lib/elements/selectSearchCheckbox.svelte
  src/lib/elements/selectSearchRadio.svelte
  src/lib/helpers/types.ts
  src/routes/(console)/project-[project]/functions/function-[function]/+page.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/+page.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/quickFilters.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/quickFilters.svelte
Labels: enhancement, product / functions

#1285 feat: display gross amount invoices
  src/routes/console/organization-[organization]/billing/paymentHistory.svelte
  src/routes/console/organization-[organization]/billing/retryPaymentModal.svelte
Labels: product / billing

#1286 fix: pass template variables
  src/lib/wizards/functions/createTemplate.svelte
Labels: product / functions

#1289 fix: hide delete deployment when buildin or processing
  src/routes/(console)/project-[project]/functions/function-[function]/table.svelte
Labels: product / functions

#1291 fix: country check for payment methods
  src/lib/components/billing/alerts/paymentMandate.svelte
  src/lib/components/billing/selectPaymentMethod.svelte
  src/lib/stores/billing.ts
Labels: product / billing

#1288 feat: add quick filter analytics
  src/lib/actions/analytics.ts
  src/lib/elements/pill.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/quickFilters.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/quickFilters.svelte
Labels: product / functions

#1292 chore: manual deployment copy
  src/routes/(console)/project-[project]/functions/function-[function]/createManual.svelte
Labels: product / functions

#1290 fix: selfhosted function creation
  src/lib/layout/containerButton.svelte
  src/lib/wizards/functions/cover.svelte
  src/lib/wizards/functions/steps/templateDeployment.svelte
  src/routes/(console)/project-[project]/functions/templates/template-[template]/+page.svelte
Labels: product / functions

#1295 fix: design 1.6 release
  src/lib/components/filters/filters.svelte
  src/lib/components/filters/tagList.svelte
  src/lib/elements/forms/inputSelectSearch.svelte
  src/lib/layout/logs.svelte
  src/lib/wizards/functions/cover.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/+page.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/executions/execute-function/+page.svelte
Labels: product / functions

#1266 feat: use functions listtemplates
  package.json
  pnpm-lock.yaml
  src/lib/stores/marketplace.ts
  src/lib/stores/runtimes.ts
  src/lib/stores/templates.ts
  src/lib/wizards/functions/cover.svelte
  src/lib/wizards/functions/createTemplate.svelte
  src/lib/wizards/functions/steps/functionConfiguration.svelte
  src/lib/wizards/functions/steps/manualDetails.svelte
  src/lib/wizards/functions/steps/templateConfiguration.svelte
  src/lib/wizards/functions/steps/templateVariables.svelte
  src/lib/wizards/functions/store.ts
  src/routes/(console)/project-[project]/functions/+layout.ts
  src/routes/(console)/project-[project]/functions/+page.svelte
  src/routes/(console)/project-[project]/functions/function-[function]/settings/updateRuntime.svelte
  src/routes/(console)/project-[project]/functions/store.ts
  src/routes/(console)/project-[project]/functions/templates/+page.svelte
  src/routes/(console)/project-[project]/functions/templates/+page.ts
  src/routes/(console)/project-[project]/functions/templates/template-[template]/+page.svelte
  src/routes/(console)/project-[project]/functions/templates/template-[template]/+page.ts
  src/routes/(console)/project-[project]/functions/templates/template-[template]/store.ts
  src/routes/(console)/project-[project]/functions/wizard/step1.svelte
Labels: product / functions

#1265 feat: scale plan
  src/lib/components/billing/estimatedTotalBox.svelte
  src/lib/components/billing/index.ts
  src/lib/components/billing/planComparisonBox.svelte
  src/lib/components/billing/planExcess.svelte
  src/lib/components/billing/planSelection.svelte
  src/lib/stores/billing.ts
  src/lib/stores/campaigns.ts
  src/lib/stores/organization.ts
  src/routes/console/apply-credit/+page.svelte
  src/routes/console/create-organization/+page.svelte
  src/routes/console/onboarding/+page.svelte
  src/routes/console/organization-[organization]/billing/+page.svelte
  src/routes/console/organization-[organization]/billing/planSummary.svelte
  src/routes/console/organization-[organization]/change-plan/+page.svelte
  src/routes/console/organization-[organization]/change-plan/+page.ts
  src/routes/console/organization-[organization]/createMember.svelte
  src/routes/console/organization-[organization]/usage/[[invoice]]/totalMembers.svelte
Labels: product / billing

#1318 fix: downgrade feedback mandatory
  src/routes/(console)/organization-[organization]/change-plan/+page.svelte
Labels: product / billing

#1326 fix: redirect step for after repo connection, hide projects in usage if empty
  src/lib/wizards/functions/steps/createRepository.svelte
  src/routes/(console)/organization-[organization]/usage/[[invoice]]/+page.svelte
Labels: bug, product / functions
